<div class="container">
    <div class="row" >
        <h1 style="text-align: center;">Create New Invoice</h1>
    </div>

    <table mat-table [dataSource]="dataSource" class="table">
    
    
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        
      
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
        
    
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Category </th>
            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
        
        
        <ng-container matColumnDef="manufacturer">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Manufacturer </th>
            <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
        </ng-container>
        
        <ng-container matColumnDef="min">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Minimum </th>
            <td mat-cell *matCellDef="let element"> {{element.min}} </td>
        </ng-container>
        
        <ng-container matColumnDef="boh">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> BOH </th>
            <td mat-cell *matCellDef="let element"> {{element.boh}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="row">
        <button style="display: block;" class="formButton" (click)="refreshTable()">Refresh Table</button>
    </div>
    <div class="row">
        <form class="invoiceForm" (ngSubmit)="onSubmit(invoiceForm)" #invoiceForm="ngForm">
            <p>Product Id: <input name="productId" type="number" placeholder="0" ngModel></p>
            <p>Vendor: <input name="vendor" type="vendor" placeholder="Vendor" ngModel></p>
            <p>Batch Code: <input name="batchCode" type="text" placeholder="Batch Code" ngModel></p>
            <p>Invoice Number: <input name="invoiceNum" type="text" placeholder="Invoice Number" ngModel></p>
            <p>Quantity: <input name="quantity" type="number" placeholder="0" ngModel></p>
            <p>Transaction Type: <select name="transactionType" ngModel><option >IN</option><option >OUT</option></select></p>

            <button class="formButton" type="submit">Submit</button>
        </form>
    </div>
    <div class="row">
        <button style="display: block;" class="formButton" (click)="home()">Home</button>
    </div>

</div>



