<div class="container">
    <div class="row">
        <h1 style="text-align: center;">Update Product Stock</h1>
    </div>

    <div class="row">
        <table>
            <th>ID</th>
            <th>Product ID</th>
            <th>Transaction Date</th>
            <th>Vendor</th>
            <th>Batch Code</th>
            <th>Invoice Number</th>
            <th>Quantity</th>
            <th>Transaction Type</th>
        </table>
    </div>
    <div>
        <button (click)="createNewInvoice()" class="createNewInvoice" style="justify-content: center;">Create New Invoice</button>
    </div>

</div>
