
<div class="container" style="margin-top: 100px; text-align: center;">

    <div class="row">
        <h1 class="home">Inventory Management System</h1>
    </div>
    <a routerLink="createNewProduct">
        <div class="row linkbox">
            <h3>Add New Product</h3>
        </div>
    </a>
    <a routerLink="productStock">
    <div class="row linkbox">
        <h3>Product Inventory</h3>
    </div>
    </a>
    <a routerLink="createinvoice">
        <div class="row linkbox">
            <h3>Create New Invoice</h3>
        </div>
    </a>
    <a routerLink="restockProduct">
        <div class="row linkbox">
            <h3>Restock Product</h3>
        </div>
    </a>

   

</div>