
<div class="container" style="margin-top: 100px; text-align: center;">

    <div class="row">
        <h1 class="home">Inventory Management System</h1>
    </div>
    <!-- add link in -->
    <a routerLink="createNewProduct">
        <div class="row linkbox">
            <h3>Create New Product</h3>
        </div>
    </a>
    <!-- add link in -->
    <a routerLink="">
    <div class="row linkbox">
        <h3>Product Inventory</h3>
    </div>
    </a>
    <!-- add link in -->
    <a routerLink="">
        <div class="row linkbox">
            <h3>Stock Level</h3>
        </div>
    </a>
    <a routerLink="updateproductstock">
        <div class="row linkbox">
            <h3>Update Product Stock</h3>
        </div>
    </a>
    <a routerLink="restockProduct">
        <div class="row linkbox">
            <h3>Restock Product</h3>
        </div>
    </a>

   

</div>