<div class="container" style="margin-top:100px; ">
    <h1 style="text-align:center;">Add New Product</h1>
    <form class="newProductForm"  (ngSubmit)="onSubmit(newProductForm)" #newProductForm="ngForm">
        <p>Enter Title: <input class="txtBox" type="text" ngModel name="title" placeholder="Title"></p>
        <br><br>
        <p>Enter Category: <input class="txtBox" type="text" ngModel name="category" placeholder="Category"></p>
        <br><br>
        <p>Enter Manufacturer: <input class="txtBox" type="text" ngModel name="manufacturer" placeholder="Manufacturer"></p>
        <br><br>
        <p>Enter Minimum Limit: <input class="txtBox" type="text" ngModel name="minimum_limit" placeholder="Minimum Limit"></p>
        <br><br>
        <p>Enter Balance on Hand: <input class="txtBox" type="text" ngModel name="boh" placeholder="Balance on Hand"></p>
        <br><br>
        <button class="submitButton" type="submit">Save</button>
    </form>
</div>